.containe{
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 550px;
  color: #fff;
  padding: 20px;
    
}

.containe h1{
  font-size: 3rem;
  margin-bottom: 30px;
  color: #fff;
  margin-top: 3rem;
}
.project-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
}
.project-list article {
 width: 300px; 
 height: 230px; 

}
.project-list article header{
    display: flex;
    justify-content: space-between;
}
.project-list article header span{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.project-list article header p{
  color:#fff;
  padding-right: 50px;
}
.project-list article img {
  width: 250px;
  height: 160px;
  display: block;
}
.project-list article footer {
  display: flex;
  padding-top: 10px;
  
}
.project-list article footer button {
  background-color:#6A5ACD;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  width: 125px;
  height: 25px;
  border-radius: 10px; 
}
.project-list button:hover{
  background-color: rgb(231, 227, 227);

}