.progresso{
  width: 100vw;
  height: 90vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInUp;  
  animation-duration: 2s; 
}
.progresso h2{
  font-size: 20px;
  margin: 20px;  
  
  animation: lightSpeedInLeft; 
  animation-duration: 2s; 
}
.progresHabilidades{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1em;

}
.percetual{
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding-left: 15px;
}
.percetual strong{
  font-size: 15px;
}

@media (min-width: 700px){
  .progresso h2{
    font-size: 30px;
    margin: 20px;  
    padding-left: 170px;
    
  }
  .progresHabilidades{
    display: flex;
    flex-direction: row;
  
  }
  .percetual{
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding-left: 90px;
   
  }
  .percetual strong{
    font-size: 20px;
  }
}
@media (min-width: 700px){
  .progresso{
    width: 100vw;
    height: 40vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInUp;  
    animation-duration: 2s; 
  }
  .progresso h2{
    font-size: 30px;
    margin: 20px;  
    padding-left: 170px;
    
  }
  .progresHabilidades{
    display: flex;
    flex-direction: row;
  
  }
  .percetual{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    padding-left: 50px;
   
  }
  .percetual strong{
    font-size: 15px;
  }
}
