@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
    height: 90vh;
 
    
}
.Container h1 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding-top:20px ;
    animation: fadeInLeft;  
    animation-duration: 2s; 
}
.contact-form {
    font: 400 Roboto, sans-serif;
    font-size: 12px;
    width: 300px;
    height: 390px;
    background: #19191C;
    padding: 20px 25px;
    margin:  auto;
    margin-top: 30px;
    box-shadow:  0 0 1.2em #6A5ACD;
    animation: fadeInLeft;  
    animation-duration: 2s; 
    }
.contact-form input{
    padding: 5px 5px;
    width: 100%;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.contact-form  textarea {
    padding: 5px 5px;
    width: 100%;
    height: 120px;
    margin-top: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: none;
}
.button {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 8px 35px;
    font-size: 11px;
    background: #00A8F3;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    
}
.button:hover{
    background-color: rgb(231, 227, 227);
}
.contact-form label,::placeholder {
    color: #777;
    font-size: 12px;
    margin-bottom: 1px;
    display: block;
}
@media(min-width: 700px){
    .Container{
        height: 100%;
    }
    .Container h1 {
        font-size: 3rem;
        margin-top: 3rem;
 
    }
    .contact-form {
        font: 400 14px Roboto, sans-serif;
        font-size: 12px;
        width: 500px;
        height: 400px;
        padding: 20px 25px;
        margin: auto;
        margin-top: 30px;
        box-shadow:  0 0 1.2em #6A5ACD;
       
        }
    .contact-form input{
        padding: 5px 5px;
        width: 100%;
         height: 35px;
        margin-top: 3px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    .contact-form  textarea {
        padding: 5px 5px;
        width: 100%;
        height: 150px;
        margin-top: 3px;
        margin-bottom: 15px;
        box-sizing: border-box;
        resize: none;
    }
    .button {
        background: #00A8F3;
        padding: 8px 35px;
        font-size: 15px;
        font-weight: bold;
        
    }   
}