.menu {
  width: 100%;
 
}
.menu header{
  height: 60px;
  background-color: #6A5ACD;
  
}
.menu header nav {
  font-size: 20px;

}
.menu header nav ul{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
.menu header nav ul li{
 padding-right: 40px;
 margin-top: 18px;
 
}