.home{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  
  
}
.home img{
  position: absolute;
  width: 100vw;
  height: 200px;
  
 
}
.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  top:90px;
  color: #FFF;  
  
}
.info h1{
  font-size: 20px;
  animation: lightSpeedInLeft; 
  animation-duration: 2s; 
 
}
.info h2{
  font-size: 20px;
  color:red;
  animation: lightSpeedInLeft; 
  animation-duration: 3s; 
}
.info p{
  font-size: 15px;
  animation: lightSpeedInLeft; 
  animation-duration: 5s; 
}
.content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:150px;
  color: #FFF;
  animation: fadeInUp;  
  animation-duration: 2s; 
  
}
.content strong{
  padding: 20px;  
  font-size: 18px;
}
.content p{
  display: flex;
  align-items: center;
  width: 85vw;
  text-align: justify;
  font-size: 12px;
  text-indent: 25px;
  
}
.content button{
 background: #6A5ACD;
 width:  110px;
 text-transform: uppercase;
 color:#FFF;
 font-size: 13px;
 font-weight: bold;
 border-radius: 20px;
 padding: 10px;
 margin-top: 20px
}
.content button:hover{
  animation: pulse;  
  animation-duration: 2s;
  background: rgb(231, 227, 227); 
}
@media (min-width: 700px){
  .home{
    width: 100vw;
    height: 90vh;
  }
  .home img{
    width: 100vw;
    height: 300px;
}
.info h1{
  font-size: 30px;

 
}
.info h2{
  font-size: 30px;
  color:red;
  
}
.info p{
  font-size: 17px;
}
.content{
  top:200px;
}
.content strong{
  padding: 25px;  
  font-size: 20px;
}
.content p{
  width: 70vw;
  font-size: 15px;
  font-size: 17px;
  text-indent: 40px;
}
.content button{
  width:  250px;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
  margin: 30px
 }

}
