.footer {
  position:absolute;
  bottom:0em;
  width:100%; 
  display: flex;
  justify-content: center;
  background-color: #6A5ACD;
 
}
.footer footer{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  height: 40px;
  
  
}