.footer {
  position: relative;
  bottom:0em;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #6A5ACD;
 
}
.footer footer{
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  height: 35px;
}
@media (min-width: 700px){
  .footer{
    position: absolute;
  }
  .footer footer{
    font-size: 15px;
    height: 40px;
  }
}