@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
:root {
 font: 60%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*isso faz com que a nossa pagina sempre vai pega o tamanho 100%*/
/*(usar width vw medida e o height usar o vh*/
html, body, #root {
  height: 100vh;
}
body,
input,
button,
textarea{
  font: 500 1.6rem Roboto, sans-serif;
  color: #FFF;
}
body{
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
}
button{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #FFF;
}

@media (min-width: 700px){
  :root {
    font-size:62.5%;
  }
}
